* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
  background: #2193b0; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2193b0,
    #6dd5ed
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2193b0, #6dd5ed);
  font-family: $fuente;
}

@import "header";
